*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #F2E4CF;
    scroll-behavior: smooth;
}

#Hero{
    width: 100vw;
    height: 100vh;
}

#HeroBack{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95vw;
    height: 50vh;
    border-radius: 20px;
}

#HeroText{
    font-family: 'Sora', sans-serif;
    font-size: 20vh;
    text-align: center;
    font-weight: 800;
    color: #94553D;
    white-space: nowrap;
}

#navbar{
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    white-space: nowrap;
    height: max-content;
    z-index: 100;
}

.ButtonNav{
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    border: none;
    background: transparent;
    font-family: 'Sora', sans-serif;
    cursor: pointer;
    font-size: 2vh;
    color: #94553D;
    transition: all 0.5s ease;
}

.ButtonNav:last-child{
    margin-right: 0;
}

.ButtonNav:hover{
    background-color: #94553D;
    color: #F2E4CF;
    font-size: 2.1vh;
}

#Logo{
    text-decoration: none;
    background: transparent;
    color: #94553D;
    font-family: 'Sora',sans-serif;
    margin-right: 15px;
    font-weight: 800;
    font-size: 2.5vh;
    transition: all 0.5s ease;
}

#Logo:hover{
    color: #e2815b;
}

.SubHeadContainer{
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translateX(-50%);
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

.SubHeading{
    margin: 0;
    background: transparent;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 2.2vh;
    font-weight: 500;
    color: #94553D;
}

/* Making the hero text responsive */

@media (max-width: 1700px) {
    #HeroText{
        font-size: 18vh;
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1540px) {
    #HeroText{
        font-size: 17vh;
        top: 2%;
    }
}

@media (max-width: 1450px) {
    #HeroText{
        font-size: 16vh;
        top: 3%;
    }
}

@media (max-width: 1370px) {
    #HeroText{
        font-size: 15vh;
        top: 4%;
    }
}

@media (max-width: 1290px) {
    #HeroText{
        font-size: 14vh;
        top: 5%;
    }
}

@media (max-width: 1200px) {
    #HeroText{
        font-size: 13vh;
        top: 6%;
    }
}